.product {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);

  &__background-product {
    grid-column: 1/-1;
    background-image: url(../images/products/hydrophilic-oil.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 267px;

  }

  &__description {
    grid-column: 1/-1;
    padding-inline: 20px;
  }

  &__title {
    margin-top: 20px;
    color: $gray-1;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }

  &__price {
    color: $gray-1;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}
